backend/node_modules
backend/dist
backend/build
backend/coverage
backend/logs
backend/temp
backend/serviceAccountKey.json
backend/.env.development
backend/.env.production
front-end/node_modules
front-end/dist
front-end/build
front-end/coverage
front-end/logs
front-end/temp
front-end/src/environments/environment.prod.ts
front-end/src/environments/environment.ts
front-end/.firebase
.cursor
/memory