<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="home" [routerLink]="['/product-list']">
      <ion-icon
        [name]="isActive('/product-list') ? 'home' : 'home-outline'"
        class="tab-icon"
      ></ion-icon>
      <ion-label class="tab-label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" [routerLink]="['/history']">
      <ion-icon
        [name]="isActive('/history') ? 'time' : 'time-outline'"
        class="tab-icon"
      ></ion-icon>
      <ion-label class="tab-label">Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="logout()">
      <ion-icon name="log-out-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

<ion-toast
  [isOpen]="showToast"
  message="Logged out successfully"
  [duration]="2000"
  (didDismiss)="showToast = false"
></ion-toast>
